body.text-dark {
  background-color: #fbf4ec;
}

.tidal-icon {
  width: 2em;
  height: 2em;
  background-color: #fff;
  margin-top: -1em;
  border-radius: 50%;
  padding: 3px 3px 2px 3px;
}

.git-logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.card {
  cursor: pointer !important;
}

@keyframes emphasize {
  0% {
    transform: scale(1);
    filter: blur(3px);
  }
  30% {
    transform: scale(1.025);
    filter: blur(0px);
  }
  60% {
    transform: scale(1.005);
    filter: blur(0px);
  }
  100% {
    transform: scale(1);
    filter: blur(0px);;
  }
}

p.lead {
  white-space: pre-wrap;
}

textarea {
  min-height: 200px;
}

#click-discover{
  cursor: pointer;
}


.hide-text {
  max-height: 2000px;
  transition: max-height 1s;

  .text-dark &.intro.hidden:after {
    color: #000;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1) 25%);
  }

  .text-light &.intro.hidden:after {
    color: #FFF;
    background: linear-gradient(to bottom, rgba(40,40,40,0), rgba(40,40,40,1) 25%);
  }

  .text-dark &.body.hidden:after {
    color: #000;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(250,244,237,1) 25%);
  }

  .text-light &.body.hidden:after {
    color: #FFF;
    background: linear-gradient(to bottom, rgba(40,40,40,0), rgba(0,0,0,1) 25%);
  }

  &.hidden {
    max-height: 200px;
    position: relative;
    overflow: hidden;
  }

  &.hidden:after {
    content:"- read more -";
    position: absolute;
    text-align: center;
    height: 50px;
    line-height: 50px;
    vertical-align: bottom;
    width: 100%;
    left: 0;
    bottom: 0;

  }
}