body.text-dark {
  background-color: #fbf4ec;
}

.navbar-custom {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  margin: 0 1px;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: padding-bottom 0.5s, padding-top 0.5s;
}

.navbar-custom.scrolled {
  padding-top: 0;
  padding-bottom: 0;
  transition: padding-bottom 0.5s 0s, padding-top 0.5s 0.15s;
}

.navbar-toggler {
  border: none;
}

.navbar-brand {
  margin-right: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.6);
}

.tidal-icon {
  width: 2em;
  height: 2em;
  background-color: #fff;
  margin-top: -1em;
  border-radius: 50%;
  padding: 3px 3px 2px 3px;
}

.git-logo {
  z-index: 1;
  position: relative;
  background: radial-gradient(ellipse at center, #ffffff 0%, #ffffff 60%, #000000 60%, #000000 100%);
}

.rounded-card {
  border-radius: 15px;
  overflow: hidden;
}

.treehouse-logo {
  transform: translateX(-35%);
  z-index: -1;
  max-height: 40px;
  max-width: 40px;
}

.card {
  cursor: pointer !important;
}

@keyframes emphasize {
  0% {
    transform: scale(1);
    filter: blur(3px);
  }
  30% {
    transform: scale(1.025);
    filter: blur(0px);
  }
  60% {
    transform: scale(1.005);
    filter: blur(0px);
  }
  100% {
    transform: scale(1);
    filter: blur(0px);;
  }
}

p.lead {
  white-space: pre-wrap;
}

textarea {
  min-height: 200px;
}

#click-discover {
  cursor: pointer;
}


.hide-text {
  max-height: none;

  .text-dark &.intro.hidden:after {
    color: #000;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 25%);
  }

  .text-light &.intro.hidden:after {
    color: #FFF;
    background: linear-gradient(to bottom, rgba(40, 40, 40, 0), rgba(40, 40, 40, 1) 25%);
  }

  .text-dark &.body.hidden:after {
    color: #000;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(250, 244, 237, 1) 25%);
  }

  .text-light &.body.hidden:after {
    color: #FFF;
    background: linear-gradient(to bottom, rgba(40, 40, 40, 0), rgba(0, 0, 0, 1) 25%);
  }

  &.hidden {
    max-height: 200px;
    position: relative;
    overflow: hidden;
  }

  &.hidden:after {
    content: "- read more -";
    position: absolute;
    text-align: center;
    height: 50px;
    line-height: 50px;
    vertical-align: bottom;
    width: 100%;
    left: 0;
    bottom: 0;
  }
}

.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}